html {
    font-size: 14px;
    color: white;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    color:white;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:black;
}