@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<h2>This is How we Started</h2>

<p>We were a bunch of friends crazy and as wild as ever from all areas of extreme sports
    From Bmx, to Skateboarding, to motocross we do it all. There was never a brand that encapsulated
    everything we did. So we created it. We do monthly drops on new clothing. Get it while its hot!
</p>
